# Node
node_modules/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# SvelteKit
.svelte-kit/
build/

# Vite
dist/
.vite/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea
.vscode/*
!.vscode/extensions.json
*.swp
*.swo
*~
.DS_Store
